
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


.nunito {
  font-family: "Nunito Sans", sans-serif;
}
.lora {
  font-family: "Lora", sans-serif;
}

.primaryBlue {
  stroke: #0fa3b1;
}
.secondaryBlue {
  stroke: #b5e2fa;
}