
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


.nunito {
  font-family: "Nunito Sans", sans-serif;
}
.lora {
  font-family: "Lora", sans-serif;
}

.primaryBlue {
  stroke: #0fa3b1;
}
.secondaryBlue {
  stroke: #b5e2fa;
}

.primaryGreen {
  stroke: #6a994e;
}

.primaryRed {
  stroke: '#ad2831'
}
.border-primaryGreen {
  border-color: #6a994e;
}
.border-primaryRed {
  border-color: #ad2831;
}
.bg-lightRed {
  background: rgba(255, 0, 0, .1);
}
.bg-lightGreen {
  background: rgba(0, 255, 0, .1);
}

.listProduct {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  margin-right: 15px;
}

@media (max-width: 640px) {
  .listProduct {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    margin-right: 15px;
  }
}